#wrapper {
    height: 100%;
    margin: 0 auto;
	background-color: #c3d600;
}

#main {
	position: relative;
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

#mainInner {
	position: relative;
	width: 960px;
	margin: auto;
}

.sign {
	position: absolute;
	top: 455px;
	left: 320px;
}

.delivery {
	position: absolute;
	top: 550px;
	left: 500px;
}

.publish {
	position: absolute;
	top: 645px;
	left: -360px;
}

.postbox {
	position: absolute;
	top: 684px;
	left: 1020px;
}

/*------------topMenu--------------*/
.topMenu {
	display: none;
	position: absolute;
	top: 0px;
	z-index: 100;
	left: 800px;
	top: 40px;
	cursor: pointer;
}


#topMenu {
	display: none;
	position: relative;
	margin: 0 auto; 
	width: 902px;
	background-color: #009842;
    overflow: hidden;
	z-index: 9999;
	margin-top: -40px;
}

#topMenu ul {
	margin-left:30px;
	height: 40px;
}

#topMenu li {
	float: left;
	font-size: 15px;
	line-height: 40px;
	font-family: "微軟正黑體";
	padding-left: 15px;
	padding-right: 15px;
}
#topMenu a {
	color: #ffffff;
}

#topMenu a:hover {
	color: #ffb217;
	font-weight: bold;
}

/*-----------topMenu--end-------------*/


/*----------------按鈕----------------*/
#btnAbout {
	position: absolute;
	top: 20px;
	left: 720px;
	background-image: url(../img/btn_about.gif);
	background-position: 0px 186px;
	height: 186px;
	width: 146px;
	text-indent: -9999px;
}
#btnAbout:hover {
	background-image: url(../img/btn_about.gif);
	background-position: 0px 0px;
}

#btnNews {
	position: absolute;
	top: 520px;
	left: -180px;
	background-image: url(../img/btn_news.gif);
	background-position: 0px 166px;
	height: 166px;
	width: 166px;
	text-indent: -9999px;
}
#btnNews:hover {
	background-image: url(../img/btn_news.gif);
	background-position: 0px 0px;
}

#btnDrinks {
	position: absolute;
	top: 250px;
	left: 40px;
	background-image: url(../img/btn_products.gif);
	background-position: 0px 186px;
	height: 186px;
	width: 146px;
	text-indent: -9999px;
}
#btnDrinks:hover {
	background-image: url(../img/btn_products.gif);
	background-position: 0px 0px;
}

#btnStores {
	position: absolute;
	top: 485px;
	left: 555px;
	background-image: url(../img/btn_stores.gif);
	background-position: 0px 186px;
	height: 186px;
	width: 146px;
	text-indent: -9999px;
}
#btnStores:hover {
	background-image: url(../img/btn_stores.gif);
	background-position: 0px 0px;
}

#btnJoin {
	position: absolute;
	top: 240px;
	left: 1200px;
	background-image: url(../img/btn_joinus.gif);
	background-position: 0px 186px;
	height: 186px;
	width: 146px;
	text-indent: -9999px;
}
#btnJoin:hover {
	background-image: url(../img/btn_joinus.gif);
	background-position: 0px 0px;
}

#btnHuman {
	position: absolute;
	top: 520px;
	left: 1020px;
	background-image: url(../img/btn_human.gif);
	background-position: 0px 186px;
	height: 186px;
	width: 146px;
	text-indent: -9999px;
}
#btnHuman:hover {
	background-image: url(../img/btn_human.gif);
	background-position: 0px 0px;
}

#btnOpinion {
	position: absolute;
	top: 40px;
	left: -240px;
	background-image: url(../img/btn_opinion.gif);
	background-position: 0px 166px;
	height: 166px;
	width: 166px;
	text-indent: -9999px;
}
#btnOpinion:hover {
	background-image: url(../img/btn_opinion.gif);
	background-position: 0px 0px;
}

#btnReport {
	position: absolute;
	top: 110px;
	left: -460px;
	background-image: url(../img/btn_report.gif);
	background-position: 0px 166px;
	height: 166px;
	width: 166px;
	text-indent: -9999px;
}
#btnReport:hover {
	background-image: url(../img/btn_report.gif);
	background-position: 0px 0px;
}

#btnFans {
	position: absolute;
	top: 170px;
	left: 1000px;
	background-image: url(../img/btn_fans.gif);
	background-position: 0px 186px;
	height: 186px;
	width: 146px;
	text-indent: -9999px;
}
#btnFans:hover {
	background-image: url(../img/btn_fans.gif);
	background-position: 0px 0px;
}


/*--------------按鈕END---------------*/

#footer {
	background-color: #ededed;
	height: 70px;
	border-bottom: 3px solid #009842;
}

#footerInner {
	width: 960px;
	text-align: left;
	margin: auto;
	padding: 10px 0px;
}

#footerInner ul {
	float: left;
	margin-top: 8px;
}

#footerInner li {
	float: left;
	font-family: "微軟正黑體";
	font-size: 12px;
	border-left: 1px solid #009842;
	padding-left: 10px;
	padding-right: 10px;
}
#footerInner a {
	color: #717171;
}

#footerInner a:hover {
	color: #009842;
}

#footerInner p {
	font-size: 12px;
	line-height: 20px;
	color: #717171;
}

#address {
	margin-top: 29px;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #717171;
}

#copyright {
	float: right;
	margin-top:-20px;
}