#header {
	height: 180px;
	background-image: url(../img/navBg.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 100% 0%;
	border-bottom: 3px solid #c3d600;
}

#headerInner {
	position: relative;
	margin: auto;
	width: 960px;
	height: 180px;
	background-image: url(../img/nav.jpg);
	}
#logo {
	margin-top: 45px;
	float: left;
}
/*小標*/
.title {
	position: absolute;
	left: 765px;
	top: 453px
}
/*右上列首頁及聯絡我們*/
#sidebar {
	position: absolute;
	margin-top: 130px;
	margin-left: 80px;
	width: 140px;
	top: 10px;
	font-size: 12px;
	list-style: disc;
}
#sidebar li {
	margin-right: 30px;
	float: left;
	color: #61ae82;
}
#sidebar li a {
	color: #61ae82;
}
/*主選單*/
#nav {
	margin-top: 15px;
	margin-right: 205px;
	float: right;
	width: 450px;
}
#nav li {
	position: relative;
}
#nav a {
	display: block;
	float: left;
}
/*關於喫茶*/
#nav #about {
	background-image: url(../img/navSprite1.png);
	height: 165px;
	width: 90px;
	text-indent: -9999px;
}
#nav #about:hover {
	background-image: url(../img/navSprite1.png);
	background-position: 0px 165px;
}
/*活動消息*/
#nav #news {
	background-image: url(../img/navSprite1.png);
	height: 165px;
	width: 90px;
	text-indent: -9999px;
	background-position: 360px 0px;
}
#nav #news:hover {
	background-image: url(../img/navSprite1.png);
	background-position: 360px 165px;
}

/*飲品介紹*/
#nav #products {
	background-image: url(../img/navSprite1.png);
	text-indent: -9999px;
	height: 165px;
	width: 90px;
	background-position: 270px 0px;
}
#nav #products:hover {
	background-image: url(../img/navSprite1.png);
	background-position: 270px 165px;
}

/*喫茶享樂去*/
#nav #branches {
	background-image: url(../img/navSprite1.png);
	text-indent: -9999px;
	height: 165px;
	width: 90px;
	background-position: 180px 0px;
}
#nav #branches:hover {
	background-image: url(../img/navSprite1.png);
	height: 165px;
	width: 90px;
	background-position: 180px 165px;
}
/*加盟專區*/
#nav #join {
	background-image: url(../img/navSprite1.png);
	height: 165px;
	width: 90px;
	text-indent: -9999px;
	background-position: 90px 0px;
}
#nav #join:hover {
	background-image: url(../img/navSprite1.png);
	background-position: 90px 165px;
}

/*關於喫茶下選單*/
#inAbout {
	position: absolute;
	z-index: 9999;
	display: none;
	width: 170px;
	height: 30px;
	left: 0px;
	top: 162px;
	background-color: #009842;
}

/*活動消息下選單*/
#inNews {
	position: absolute;
	z-index: 9999;
	display: none;
	width: 170px;
	height: 30px;
	left: 60px;
	top: 162px;
	background-color: #009842;
}
/*飲品介紹下選單*/
#inProducts {
	position: absolute;
	z-index: 9999;
	display: none;
	width: 160px;
	height: 30px;
	left: 150px;
	top: 162px;
	background-color: #009842;
}
/*加盟專區下選單*/
#inJoin {
	position: absolute;
	z-index: 9999;
	display: none;
	width: 245px;
	height: 30px;
	left: 260px;
	top: 162px;
	background-color: #009842;
}
#nav span a {
	color: #fff;
	line-height: 30px;
	margin-left: 20px;
	margin-right: 12px;
	font-size: 12px;
	font-family: "微軟正黑體";
}
#nav span a:hover {
	color: #ffb217;
	font-weight: bold;
}

/*下選單葉子*/
.btnLeaf {
	position: absolute;
	top: -22px;
	left: 77px;
	z-index: 2;
}
.btnLeaf1 {
	position: absolute;
	top: -22px;
	left: 152px;
	z-index: 2;
}

/*內頁*/
#bannerInner {
	margin: auto;
	width: 960px;
	height: 270px;
}

/*加盟專區*/
#bannerIn {
	height: 270px;
	background-image: url(../img/bannerJU.jpg);
	background-position: center center;
}
/*關於喫茶*/
#aboutus #bannerIn {
	height: 270px;
	background-image: url(../img/bannerAU.jpg);
	background-position: center center;
}
/*檢驗報告*/
#aboutI #bannerIn {
	height: 270px;
	background-image: url(../img/bannerAU.jpg);
	background-position: center center;
}
/*經營策略*/
#aboutT #bannerIn {
	height: 270px;
	background-image: url(../img/bannerAU.jpg);
	background-position: center center;
}

/*最新消息*/
#news #bannerIn {
	height: 270px;
	background-image: url(../img/bannerNE.jpg);
	background-position: center center;
}

/*媒體報導*/
#news_report #bannerIn {
	height: 270px;
	background-image: url(../img/bannerNE.jpg);
	background-position: center center;
}
/*人氣飲品*/
#drinks #bannerIn {
	height: 270px;
	background-image: url(../img/bannerHot.jpg);
	background-position: center center;
}
#drinks #contentSlider {
	width: 960px;
	height: 2822px;
	position: relative;
}
/*菜單*/
#drinks_menu #bannerIn {
	height: 270px;
	background-image: url(../img/bannerHot.jpg);
	background-position: center center;
}
/*喫茶享樂去*/
#branch_stores #bannerIn {
	height: 270px;
	background-image: url(../img/bannerBS.jpg);
	background-position: center center;
}

/*關於喫茶次選單*/
#subnavAU {
	position: absolute;
	top: 132px;
	left: 215px;
	z-index: 5;
	width: 120px;
	height: 35px;
}
#subnavAU a {
	color: #009842;
	font-size: 13px;
	font-family: "微軟正黑體";
}
#subnavAU li {
	margin-bottom: 10px;
	text-align: center;
	width: 100px;
}
/*about tab*/
#aboutus #brands {
	font-weight: bolder;
	font-size: 14px;
}
#aboutus #tactics:hover {
	font-weight: bolder;
	font-size: 14px;
}
/*tactics tab*/
#aboutT #tactics {
	font-weight: bolder;
	font-size: 14px;
}
#aboutT #brands:hover {
	font-weight: bolder;
	font-size: 14px;
}
/*inspect tab*/
#aboutI #tactics:hover {
	font-weight: bolder;
	font-size: 14px;
}
#aboutI #brands:hover {
	font-weight: bolder;
	font-size: 14px;
}

/*活動消息次選單*/
#subnavNews {
	top: 132px;
	left: 215px;
	position: absolute;
	z-index: 5;
	width: 110px;
}
#subnavNews a {
	color: #009842;
	font-size: 13px;
	font-family: "微軟正黑體";
}
#subnavNews li {
	margin-bottom: 10px;
	text-align: center;
	width: 100px;
}
/*news tab*/
#news #event {
	font-weight: bolder;
	font-size: 14px;
}
#news #report:hover {
	font-weight: bolder;
	font-size: 14px;
}
/*news_report tab*/
#news_report #report {
	font-weight: bolder;
	font-size: 14px;
}
#news_report #event:hover {
	font-weight: bolder;
	font-size: 14px;
}
/*飲品介紹次選單*/
#subnavD {
	position: absolute;
	top: 132px;
	left: 215px;
	z-index: 5;
	width: 110px;
}
#subnavD a {
	color: #009842;
	font-size: 13px;
	font-family: "微軟正黑體";
}
#subnavD li {
	margin-bottom: 10px;
	text-align: center;
	width: 100px;
}
/*drinks tab*/
#drinks #top {
	font-weight: bolder;
	font-size: 14px;
}
#drinks #menu:hover {
	font-weight: bolder;
	font-size: 14px;
}
/*drinks_menu tab*/
#drinks_menu #menu {
	font-weight: bolder;
	font-size: 14px;
}
#drinks_menu #top:hover {
	font-weight: bolder;
	font-size: 14px;
}

/*門市資訊次選單*/
#subnavBS {
	top: 170px;
	left: 215px;
	position: absolute;
	z-index: 5;
	width: 110px;
}
#subnavBS li {
	margin-bottom: 10px;
	text-align: center;
	width: 100px;
}
/*stores tab*/
#stores {
	color: #009842;
	font-weight: bolder;
	font-size: 14px;
	font-family: "微軟正黑體";
}
/*加盟專區次選單*/
#subnavJU {
	top: 132px;
	left: 215px;
	position: absolute;
	z-index: 5;
	width: 110px;
}
#subnavJU a {
	color: #009842;
	font-size: 13px;
	font-family: "微軟正黑體";
}
#subnavJU li {
	margin-bottom: 10px;
	text-align: center;
	width: 100px;
}
/*joinus tab*/
#joinus #notices {
	font-weight: bolder;
	font-size: 14px;
}
#joinus #process:hover {
	font-weight: bolder;
	font-size: 14px;
}
#joinus #condition:hover {
	font-weight: bolder;
	font-size: 14px;
}
/*joinus_process tab*/
#joinus_process #process {
	font-weight: bolder;
	font-size: 14px;
}
#joinus_process #notices:hover {
	font-weight: bolder;
	font-size: 14px;
}
#joinus_process #condition:hover {
	font-weight: bolder;
	font-size: 14px;
}
/*joinus_condition tab*/
#condition #condition {
	font-weight: bolder;
	font-size: 14px;
}
#condition #notices:hover {
	font-weight: bolder;
	font-size: 14px;
}
#condition #process:hover {
	font-weight: bolder;
	font-size: 14px;
}
/*contact tab*/
#contact #process:hover {
	font-weight: bolder;
	font-size: 14px;
}
#contact #notices:hover {
	font-weight: bolder;
	font-size: 14px;
}
#contact #condition:hover {
	font-weight: bolder;
	font-size: 14px;
}


#content {
	background-image: url(../img/contentBG.png);
	background-repeat: repeat-x;
}
#contentInner {
	width: 810px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 45px;
}

/*關於喫茶*/
#contentInnerAU {
	width: 810px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 135px;
	padding-bottom: 55px;
}
#contentInnerAU p {
	line-height: 30px;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #717171;
}
#contentInnerAU p img {
	display: block;
	margin-bottom: 20px;
}
/*since2001*/
#content .since {
	position: relative;
	margin-top: -50px;
	margin-left: 45px;
	margin-bottom: 50px;
}
/*img定位*/
#roundAU_01 {
	position: absolute;
	top: -35px;
	left: -45px;
}
#roundAU_02 {
	position: absolute;
	top: 75px;
	left: 580px;
}
#roundAU_03 {
	position: absolute;
	top: 225px;
	left: -80px;
}
#roundAU_04 {
	position: absolute;
	top: 750px;
	left: 500px;
}
#roleAU {
	position: absolute;
	top: 314px;
	left: 590px;
}
#mrCheng {
	position: absolute;
	top: 210px;
	left: -45px;
}
#drinksAU_01 {
	position: absolute;
	top: 410px;
	left: -300px;
	opacity: 0;
}
#drinksAU_02 {
	position: absolute;
	top: 620px;
	left: 800px;
	opacity: 0;
}
#goodAU {
	position: absolute;
	top: 550px;
	left: 450px;
}
#promoter {
	position: absolute;
	top: 455px;
	left: 260px;
}
#environmentally {
	position: absolute;
	top: 850px;
	left: 110px;
}

/*關於喫茶隔線*/
.hr01{
	 width: 720px;
     height: 1px;
     border:none;
     background-color:#e5ead4;
     margin-left: 45px;
}
.hr02 {
	 width: 530px;
	 height: 1px;
	 border:none;
	 background-color: #e5ead4;
	 margin-left: 110px;
}
.hr00 {
	 width: 720px;
     height: 1px;
     border: none;
     background-color: #e5ead4;
     margin-left: 45px;
	 margin-top: 150px;
}

/*品牌精神_堅持*/
#content .persistence_1 {
	margin-top: 80px;
	margin-left: 305px;
	margin-bottom: 105px;
}
#content .persistence_2 {
	margin-top: 120px;
	margin-left: 155px;
}
/*檢驗報告_人才招聘*/
#content .inspection {
	position: relative;
	margin-left: 30px;
}
/*img定位*/
#hum {
	position: absolute;
	top: 150px;
	left: 450px;
	background-image: url(../img/btn_hum.png);
	width: 130px;
	height: 120px;
	text-indent: -9999px;
	background-position: 0px 0px;
}
#hum:hover {
	background-image: url(../img/btn_hum.png);
	background-position: 130px 0px;
}
#ins {
	position: absolute;
	top: 40px;
	left: 390px;
	background-image: url(../img/btn_ins.png);
	width: 120px;
	height: 120px;
	text-indent: -9999px;
	background-position: 0px 0px;
}
#ins:hover {
	background-image: url(../img/btn_ins.png);
	background-position: 120px 0px;
}

/*經營策略*/
#contentInnerAU ul {
	line-height: 23px;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #717171;
}

.partition {
	display: block;
	margin-bottom: 50px;
}

.tacBrand li img, .tacBottle li img, .tacGood li img {
	display: block;
	margin-top: 25px;
	margin-bottom: 10px;
}

.tacBrand span, .tacBottle span, .tacGood span {
	display: block;
}

.tacBrand span {
	margin-left: 40px;
}

.tacBottle span {
	margin-top: -35px;
	margin-left: 45px;
}

.tacGood span {
	margin-left: 46px;
}

/*經營策略隔線*/
.hr06{
	 width: 500px;
     height: 1px;
     border:none;
     background-color:#e5ead4;
     margin-left: 240px;
}
.hr07 {
	 width: 400px;
	 height: 1px;
	 border:none;
	 background-color: #e5ead4;
	 margin-left: 60px;
}

/*品牌經營策略*/
#content .tacBrand {
	position: relative;
	margin-top: 10px;
	margin-left: 240px;
	margin-bottom: 60px;
}

/*img定位*/
#tacBg {
	position: absolute;
	top: -10px;
	left: -230px;
}
#superiority {
	position: absolute;
	top: 950px;
	left: -100px;
}
#tacTea {
	position: absolute;
	top: 720px;
	left: -120px;
}
#tacGlass {
	position: absolute;
	top: 1240px;
	left: 345px;
}

/*存萃好瓶*/
#content .tacBottle {
	margin-top: 80px;
	margin-left: 390px;
	margin-bottom: 120px;
}


/*品牌優勢*/
#content .tacGood {
	margin-top: 80px;
	margin-left: 75px;
	margin-bottom: 335px;
}


/*最新消息*/
#contentInnerNews {
	width: 810px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 135px;
	padding-bottom: 80px;
}

/*新品*/
#newDrinks {
	margin-top: -50px;
	position: relative;
    width:830px;
}
.prev01 {
	position: absolute;
	top: 115px;
	left: -50px;
	}
.next01 {
	position: absolute;
	top: 115px;
	left: 850px;
	z-index: 99;
	}
.news_item {
	width: 1440px;
}
.news_item li {
	float: left;
	margin-top: 35px;
	margin-bottom: 50px;
	margin-right: 40px;
	width: 250px;
	text-align: left;
	line-height: 20px;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #717171;
        height: 230px;
}
.news_item li:last-child {
	margin-right: 0px;
}
.news_item li span {
	border-left: 1px solid #009842;
	border-right: 1px solid #009842;
	padding-left: 12px;
	padding-right: 12px;
	color: #009842;
}
.news_item li div {
	margin-bottom: 10px;
	height: 160px;
	background-image: url(../img/shadow.png);
	background-position: 0 18px;
}
.anyClass01 span {
	margin-right: 10px;
	font-weight: bolder;
}
/*新店*/
#newStores {
	position: relative;
	clear: both;
	//margin-bottom: 240px;
}

.prev02 {
	position: absolute;
	top: 115px;
	left: -50px;
	}
.next02 {
	position: absolute;
	top: 115px;
	left: 850px;
	z-index: 99;
	}

.anyClass02 li {
	text-align: center;
}
.anyClass02 span {
	font-weight: bolder;
}

/*媒體報導*/
#new_event {
	margin-top: -50px;
	margin-bottom: 500px;
}
.event_item {
	width: 885px;
}
.event_item li {
	float: left;
	margin-top: 35px;
	margin-bottom: 20px;
	margin-right: 40px;
	width: 250px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #717171;
}
.event_item li:nth-child(3) {
	margin-right: 0px;
}
.event_item li:last-child {
	margin-right: 0px;
}
.event_item li div {
	margin-bottom: 10px;
	height: 160px;
	background-image: url(../img/shadow.png);
	background-position: 0 18px;
}
#new_event span {
	border-left: 1px solid #009842;
	border-right: 1px solid #009842;
	padding-left: 12px;
	padding-right: 12px;
	color: #009842;
	font-weight: bolder;
}

/*人氣飲品*/
#contentInnerD {
	width: 810px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 135px;
	padding-bottom: 5px;
	background-position: 0% 0%;
	padding-left: 75px;
	padding-right: 75px;
}
#contentInnerD p {
	position: relative;
	left: -60px;
	margin-top: 15px;
	margin-bottom: 5px;
}
#contentInnerD p img {
	display: block;
}
/*img定位*/
#top_01 {
	position: absolute;
	top: -50px;
	left: 175px;
}
#top_02 {
	position: absolute;
	top: 250px;
	right: 0px;
	opacity:0;
}
#top_03 {
	position: absolute;
	top: 620px;
	left: -130px;
	opacity:0;
}
#top_04 {
	position: absolute;
	top: 890px;
	right: 0px;
	opacity:0;
}
#top_05 {
	position: absolute;
	top: 1025px;
	left: 0px;
	opacity:0;
}
#top_06 {
	position: absolute;
	top: 1195px;
	right: 0px;
	opacity:0;
}
#top_07 {
	position: absolute;
	top: 1555px;
	left: 0px;
	opacity:0;
}
#top_08 {
	position: absolute;
	top: 1895px;
	right: 0px;
	opacity:0;
}
#top_09 {
	position: absolute;
	top: 2030px;
	left: 0px;
	opacity:0;
}
#top_10 {
	position: absolute;
	top: 2505px;
	right: 0px;
	opacity:0;
}
/*menu*/
#contentInnerDM {
	width: 810px;
	padding-top: 50px;
	margin: auto;
}

.tea_item1 {
	position: relative;
	float: left;
	//top:10px;
	left:-38px;
	margin-top: 15px;
	//margin-right: 30px;
	margin-bottom: 30px;
}
.tea_item2 {
	position: relative;
	float: left;
	left:-38px;
	margin-top: 50px;
	//margin-right: 30px;
	margin-bottom: 30px;
}
.tea_item3 {
	position: relative;
	float: left;
	left:-38px;
	margin-top: 50px;
	//margin-right: 30px;
	margin-bottom: 30px;
}
.tea_item1 ul, .tea_item2 ul, .tea_item3 ul {
	float: left;
	margin-top: 41px;
	margin-left: 293px;
	line-height: 20px;
	font-size: 12px;
	color: #717171;
	font-family: "微軟正黑體";
	width: 90px;
}
.tea_item3 ul {
	float: left;
	margin-top: 35px;
	margin-left: 295px;
	line-height: 20px;
	font-size: 12px;
	color: #717171;
	font-family: "微軟正黑體";
	width: 90px;
}

/*img定位*/
#injoy {
	position: absolute;
	left: 20px;
}
#milk {
	position: absolute;
	left: 375px;
}
#likeQ {
	position: absolute;
	left: 33px;
}
#juice {
	position: absolute;
	left: 470px;
}
#menu_hot {
	position: absolute;
	left: 70px;
}
#sugar_ice {
	position: absolute;
	top: -10px;
	left: 421px;
}
#explain{
	position: absolute;
	top: 340px;
	left: 12px;
	}



/*門市資訊*/
#contentInnerBS {
	width: 810px;
	height: 520px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 135px;
	padding-bottom: 120px;
}
/*搜尋表單*/
#search {
	position: relative;
	margin-left: 105px;
	margin-bottom:100px;
}

/*img定位*/
#search_Title {
	position: absolute;
	top: -50px;
	left: 160px;
	}
#map_north, #map_mid, #map_south, #map_east {
	position: absolute;
	top: -90px;
	left: -30px;
}

#injoytea {
	position: absolute;
	top: -87px;
	left: 465px;
}

/*北中南東*/
#map_store {
	margin-right: 350px;
	margin-bottom: 30px;
	float: right;
	width: 196px;
}
#map_store li {
	position: relative;
	display: block;
	float: left;
}

/*北*/
#map_store #north {
	background-image: url(../img/map_4.png);
	height: 20px;
	width: 52px;
	text-indent: -9999px;
	background-position: 0px 40px;
}
#map_store #north:hover {
	background-image: url(../img/map_4.png);
	background-position: 0px 20px;
	}
/*中*/
#map_store #mid {
	background-image: url(../img/map_4.png);
	height: 20px;
	width: 52px;
	text-indent: -9999px;
	background-position: 144px 40px;
}
#map_store #mid:hover {
	background-image: url(../img/map_4.png);
	height: 20px;
	width: 52px;
	background-position: 144px 20px;
	}

/*南*/
#map_store #south {
	background-image: url(../img/map_4.png);
	text-indent: -9999px;
	height: 20px;
	width: 52px;
	background-position: 92px 40px;
}
#map_store #south:hover {
	background-image: url(../img/map_4.png);
	height: 20px;
	width: 52px;
	background-position: 92px 20px;
}

/*東*/
#map_store #east {
	background-image: url(../img/map_4.png);
	text-indent: -9999px;
	height: 20px;
	width: 40px;
	background-position: 40px 40px;
}
#map_store #east:hover {
	background-image: url(../img/map_4.png);
	height: 20px;
	width: 40px;
	background-position: 40px 20px;
}
.page_number {
	cursor: pointer;
}
/*1北部縣市*/
#north_city {
	display:none;
	margin-right: 300px;
	margin-bottom: 45px;
	float: right;
	width: 247px;
}
/*中部縣市*/
#mid_city {
	margin-right: 300px;
	margin-bottom: 45px;
	float: right;
	width: 247px;
}
/*南部縣市*/
#south_city {
	display:none;
	margin-right: 300px;
	margin-bottom: 45px;
	float: right;
	width: 247px;
}
/*東部縣市*/
#east_city{
	display:none;
	margin-right: 300px;
	margin-bottom: 45px;
	float: right;
	width: 247px;
}
.mid_ta, .n_ta, .s_ta, .e_ta{
	border: none;
}
.mid_ta td, .n_ta  td, .s_ta  td, .e_ta  td {
	height: 10px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #717171;
	cursor: pointer;
}
.mid_ta td:hover, .n_ta  td:hover, .s_ta  td:hover, .e_ta  td:hover {
	height: 10px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #009842;
}

/*台灣縣市隔線*/
.hr_line{
	 width: 290px;
     height: 1px;
     border:none;
     background-color:#e5ead4;
	 margin-top: 35px;
	 margin-bottom: -15px;
}

/*表格*/
.store_info {
	border: 1px solid #e5ead4;
}
.store_info th {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	font-family: "微軟正黑體";
	color: #009842;
	font-weight: bolder;
	text-align: center;
	border-right: 1px dotted #009842;
}
.store_info th:last-child {
	border: none;
}
.store_info td {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-family: "微軟正黑體";
 //font-weight:bolder;
	color: #717171;
}
.store_info tr:nth-child(odd) {
	background-color: #e5ead4;
}
.store_info tr:nth-child(1) {
	background-color: #b5d34e;
	height: 30px;
}
.store_info tr:nth-child(even) {
	background-color: #ffffff;
}

#show_tab #no_tab {
	display: none;
	padding-top: 50px;
}

/*頁碼*/
#page_tab {
	margin-top: 30px;
	margin-left: 255px;
}
.btn_page {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.btn_page td {
	color: #717171;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	font-family: "微軟正黑體";
}
.btn_page td:hover {
	color: #009842;
}

/*加盟訊息*/
#contentInnerJU {
	width: 810px;
	margin-right: auto;
	margin-left: auto;
	padding: 135px 75px 55px 75px;
}
#contentInnerJU p {
	position: relative;
	left: 162px;
	padding-bottom: 30px;
	line-height: 20px;
	font-size: 12px;
	font-family: "微軟正黑體";
}
#contentInnerJU p img {
	display: block;
	margin-bottom: 20px;
}
/*img定位*/
#round01 {
	position: absolute;
	left: 520px;
}
#round02 {
	position: absolute;
	top: 155px;
	left: -100px;
}
#round03 {
	position: absolute;
	top: 630px;
	left: 520px;
}
#round04 {
	position: absolute;
	top: 765px;
	left: -115px;
}
#contactJU {
	position: absolute;
	top: 975px;
	left: 78px;
}
#drinks01 {
	position: absolute;
	top: -85px;
	left: -135px;
}
#drinks02 {
	position: absolute;
	top: 132px;
	left: 430px;
}
#drinks03 {
	position: absolute;
	top: 410px;
	left: -210px;
}
#barJU {
	position: absolute;
	top: 990px;
	left: -300px;
}
/*加盟資訊隔線*/
.hr03{
	 width: 432px;
	 height: 1px;
	 border:none;
	 background-color:#e5ead4;
	 margin-left: 162px;
	 }
.hr04{
     width: 680px;
	 height: 1px;
	 border:none;
	 background-color:#e5ead4;
	 margin-left: 162px;
	 }

/*九大支援*/
#content .sup_9 {
	margin-top: 45px;
	margin-left: 162px;
}
#content_sup {
	margin-top: 30px;
	margin-bottom: 30px;
}
#content_sup li {
	background-image: url(../img/1_9.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 15px;
	list-style-type: none;
	text-indent: 30px;
	font-size: 12px;
	color: #717171;
	font-family: "微軟正黑體";
}
#content_sup li:nth-child(1) {
	background-position: 0px 0px;
}
#content_sup li:nth-child(2) {
	background-position: 0px -30px;
}
#content_sup li:nth-child(3) {
	background-position: 0px -60px;
}
#content_sup li:nth-child(4) {
	background-position: 0px -90px;
}
#content_sup li:nth-child(5) {
	background-position: 0px -120px;
}
#content_sup li:nth-child(6) {
	background-position: 0px -150px;
}
#content_sup li:nth-child(7) {
	background-position: 0px -180px;
}
#content_sup li:nth-child(8) {
	background-position: 0px -210px;
}
#content_sup li:nth-child(9) {
	background-position: 0px -240px;
}
/*四大支援*/
#content .req_4 {
	margin-top: 45px;
	margin-bottom: 400px;
	margin-left: 162px;
}
#content_req {
	margin-top: 30px;
}
#content_req li {
	background-image: url(../img/1_4.png);
	background-repeat: no-repeat;
	padding-bottom: 60px;
	list-style-type: none;
	text-indent: 30px;
	line-height: 25px;
	font-weight: bolder;
	font-size: 16px;
	color: #b5d34e;
	font-family: "微軟正黑體";
}
#content_req li:nth-child(1) {
	background-position: 0px 5px;
}
#content_req li:nth-child(2) {
	background-position: 0px -95px;
}
#content_req li:nth-child(3) {
	background-position: 0px -195px;
}
#content_req li:nth-child(4) {
	background-position: 0px -295px;
}
#content_req li span {
	position: absolute;
	z-index: 1;
	width: 617px;
	display: block;
	margin-top: 5px;
	line-height: 20px;
	margin-left: 30px;
	font-weight: normal;
	font-size: 12px;
	color: #717171;
	font-family: "微軟正黑體";
}
/*加盟流程*/
#contentInnerJUP {
	width: 885px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 55px;
	padding-left: 75px;
	padding-top: 135px;
}

/*十項流程*/
#content .pro_10 {
	position: relative;
	margin-top: -55px;
	margin-left: 50px;
	padding-bottom: 480px;
}
#contentInnerJUP #content_pro {
	width: 720px;
	margin-top: 35px;
	margin-bottom: 30px;
}
#contentInnerJUP #content_pro li:nth-child(9) {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
/*上*/
#contentInnerJUP #content_pro li:nth-child(-n+9):nth-child(even) {
	float: left;
	line-height: 122px;
	margin-left: 8px;
	margin-right: 12px;
}
#contentInnerJUP #content_pro li:nth-child(odd) {
	float: left;
}
/*下*/
#contentInnerJUP #content_pro li:nth-child(n+9):nth-child(odd) {
	float: left;
	line-height: 122px;
	margin-left: 8px;
	margin-right: 12px;
}
#contentInnerJUP #content_pro li:nth-child(even) {
	float: left;
}
/*img定位*/
#roundP_01 {
	position: absolute;
	top: 670px;
	left: 605px;
}
#roundP_02 {
	position: absolute;
	top: 860px;
	left: -35px;
}
#roundP_03 {
	position: absolute;
	top: 1010px;
	left: 255px;
}
#drinksP {
	position: absolute;
	top: 770px;
	left: 390px;
}
#contactP {
	position: absolute;
	top: 1290px;
	left: 0px;
}
/*加盟流程隔線*/
.hr05{
     width: 720px;
	 height: 1px;
	 border:none;
	 background-color:#e5ead4;
	 margin-left: 50px;
	 }

/*三大堅持*/
#content .per_3 {
	margin-top: 60px;
	margin-left: 50px;
}
#content_per {
	margin-top: 40px;
	margin-bottom: 100px;
}
#content_per li {
	background-image: url(../img/1_9.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-left: 10px;
	list-style-type: none;
	text-indent: 30px;
	font-size: 12px;
	color: #717171;
	font-family: "微軟正黑體";
}
#content_per li:nth-child(1) {
	background-position: 0px 0px;
}
#content_per li:nth-child(2) {
	background-position: 0px -30px;
}
#content_per li:nth-child(3) {
	background-position: 0px -60px;
}
#content_per li span {
	margin-top: 5px;
	margin-left: 15px;
	padding-right: 10px;
	line-height: 15px;
	font-weight: bolder;
	font-size: 16px;
	color: #b5d34e;
	font-family: "Futura LT Light";
}
/*八大保證*/
#content .gua_8 {
	margin-top: 60px;
	margin-bottom: 150px;
	margin-left: 50px;
}
#content_gua {
	margin-top: 40px;
	margin-bottom: 50px;
}
#content_gua li {
	background-image: url(../img/1_9.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 15px;
	margin-left: 10px;
	list-style-type: none;
	text-indent: 30px;
	font-size: 12px;
	color: #717171;
	font-family: "微軟正黑體";
}
#content_gua li:nth-child(1) {
	background-position: 0px 0px;
}
#content_gua li:nth-child(2) {
	background-position: 0px -30px;
}
#content_gua li:nth-child(3) {
	background-position: 0px -60px;
}
#content_gua li:nth-child(4) {
	background-position: 0px -90px;
}
#content_gua li:nth-child(5) {
	background-position: 0px -120px;
}
#content_gua li:nth-child(6) {
	background-position: 0px -150px;
}
#content_gua li:nth-child(7) {
	background-position: 0px -180px;
}
#content_gua li:nth-child(8) {
	background-position: 0px -210px;
}
#footer {
	background-color: #ededed;
	height: 110px;
	border-top: 3px solid #c3d600;
}

#footerInner {
	width: 960px;
	text-align: left;
	margin: auto;
}

#footerInner ul {
	width: 450px;
	float: right;
	margin: 25px 0px 0px 100px;
}

#footerInner li {
	float: left;
	font-family: "微軟正黑體";
	font-size: 12px;
	border-left: 1px solid #009842;
	padding-left: 10px;
	padding-right: 10px;
}

#footerInner a {
	color: #717171;
}

#footerInner a:hover {
	color: #009842;
}

#footerInner p {
	font-size: 12px;
	line-height: 23px;
	color: #717171;
}

#footerLogo {
	margin-left: 50px;
	float: left;
	margin-top: 7px;
}

#address {
	float: right;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #717171;
	margin-top: 5px;
}

#copyright {
	float: right;
}

.chromeframe{
	padding: 20px;
	background: #009842;
	color: #fff;
	text-align: center;
}
.chromeframe a{
	color: #FC6;
	text-decoration: underline;
}

.kk{
	margin-left: 2000px;
}


/*聯絡我們*/
#contactUs {
	margin: -50px 0 30px 166px;
}
#contactUs ul {
	margin-top: 15px;
	//text-indent: 30px;
	line-height: 22px;
	font-size: 14px;
	color: #717171;
	font-family: "微軟正黑體";
}
#contactUs ul b {
	font-size: 12px;
	color: #83b59b;
	padding-right: 8px;
}
#contactUs ul span {
	font-size: 12px;
	color: #83b59b;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 8px;
}

/*表單*/
#ask {
	position: relative;
	height: 330px;
	width: 415px;
	background-color: #e5ead4;
	padding: 20px 40px;
	margin-left: 165px;
	margin-bottom: 60px;
}

#contactForm{
	margin-bottom: 50px;
}

.contactTab td {
	line-height: 50px;
}
.input {
	height: 30px;
	width: 150px;
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #313131;
	padding-left: 5px;
}
#email {
	height: 30px;
	width: 330px;
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #313131;
	padding-left: 5px;
}
.service {
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #313131;
	height: 38px;
	width: 160px;
	letter-spacing: 1px;
	padding-left: 5px;
}
.textarea {
	height: 105px;
	width: 330px;
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #313131;
	padding-top: 5px;
	padding-left: 5px;
	margin-top: 10px;
}
.btnReset, .buttonC  {
	height: 40px;
	width: 160px;
	font-family: "微軟正黑體";
	font-weight: bolder;
	font-size: 15px;
	color: #fff;
	letter-spacing: 2px;
	border: none;
}
.btnReset {
	background-color: #c3d600;
}
.buttonC {
	background-color: #009842;
}

.btn {
	padding-top: 20px;
}
.textColor {
	color: #009842;
	font-size: 14px;
	font-family: "微軟正黑體";
	font-weight: bold;
	padding-right: 15px;
}
/*img定位*/
#teaman {
	position: absolute;
	top: 20px;
	left: -166px;
}
#injoytea0 {
	position: absolute;
	top: -35px;
	left: 495px;
}

/*檢驗報告*/
#ins_item {
	height: 1050px;
	margin-left: 85px;
	margin-bottom: 50px;
	font-size: 15px;
	color: #717171;
	font-family: "微軟正黑體";
	line-height: 30px;
}

#ins_item a {
	font-size: 15px;
	color: #717171;
	font-family: "微軟正黑體";
	line-height: 30px;
}
#ins_item a:hover {
	color: #009842;
	font-weight: bold;
}

#insBg {
	position: absolute;
	top: 240px;
	left: -15px;
}
#insTea {
	position: absolute;
	top: 570px;
	left: 300px;
}

/*非知不可*/
#imp_item {
	height: 870px;
	margin-left: 85px;
	margin-bottom: 50px;
	font-size: 15px;
	color: #717171;
	font-family: "微軟正黑體";
	line-height: 30px;
}

#imp_item a {
	font-size: 15px;
	color: #717171;
	font-family: "微軟正黑體";
	line-height: 30px;
}
#imp_item a:hover {
	color: #009842;
	font-weight: bold;
}

#impBg {
	position: absolute;
	top: 340px;
	left: -30px;
}
#impTea {
	position: absolute;
	top: 460px;
	left: 20px;
}

/*檢驗報告及非知不可選單列*/
.item01 {
	position: relative;
	float: left;
	width: 375px;
}
.item02 {
	float: left;
}

.item01 ul {
	position: absolute;
	z-index: 999;
}
.item01 ul, .item02 ul {
	padding-left: 53px;
	margin-top: -15px;
}
.item02 .bottle {
	margin-bottom: 50px;
}

#imp_item .file02 ul {
	margin-top: 45px;
}