@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 960px) and (max-width: 1600px)
{
  #btnAbout, #btnNews, #btnDrinks, #btnStores, #btnJoin, #btnHuman, #btnOpinion, #btnReport, #btnFans, .publish, .postbox {
	display: none;
  }
  .topMenu,  #topMenu {
	 display: block;
  }
  .sign {
	top: 495px;
  }
  .delivery {
	top: 590px;
  }
}
