body {
    background-color: #eee;
}

.link {
    font-size: 16pt;
    font-weight: bold;
    clear: both;
}

.link a {
    background: #333;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
}

.new_drink_content {
    margin: 10px 0;
}

.new_drink_content .left {
    clear: both;
    float: left;
    margin: 10px 5px;
}

.new_drink_content .right {
    float: left;
    margin: 10px 5px;
}

.new_drink_content .right img {
    width: 160px;
    height: 120px;
}

.stores_content {
    margin: 10px 0;
}

.stores_content .left {
    clear: both;
    float: left;
    margin: 10px 5px;
}

.stores_content .right {
    float: left;
    margin: 10px 5px;
}

.stores_content .right img {
    width: 200px;
    height: 150px;
}

.stores_content {
    margin: 10px 0;
}

.new_stores_content {
    margin: 10px 0;
}

.new_stores_content .left {
    clear: both;
    float: left;
    margin: 10px 5px;
}

.new_stores_content .right {
    float: left;
    margin: 10px 5px;
}

.new_stores_content .right img {
    width: 140px;
    height: 105px;
}

.media_report_content {
    margin: 10px 0;
}

.media_report_content .left {
    clear: both;
    float: left;
    margin: 10px 5px;
}

.media_report_content .right {
    float: left;
    margin: 10px 5px;
}

.media_report_content .right img {
    width: 140px;
    height: 105px;
}

input[type="text"] {
  width: 500px;
}